body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.scroll-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    font-family: 'Georgia', serif;
}

p,
ul li {
    font-size: 18px;
    line-height: 1.6;
}